.form-container {
	display: flex;
	flex-direction: column;
	width: 20%;
	margin: 10px;
}

.add-form {
	display: flex;
	flex-direction: column;
}

input {
	text-align: center;
}

button {
	margin: 20px;
}

img {
	width: 100px;
}

span#debit {
  color: red;
}
